<h1 class='banner'>Stupid Coaching</h1>
<h2>Ask a question</h2>
<form action="answer">
  <input type="text" name="question" class='input-group-text'>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
